html {
    width: 100%;
}

#header {
    display: grid;
    grid-template-columns: 100px 1fr 50px 50px;
    grid-template-areas: 
    "logo search menu sign-in";
}
#logo {
    padding-top: 40px;
    top: 1px;
    position: absolute;
    height: 45px;
    width: 200px;
    text-align: left;
}

#search {
    background: #fff;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    width: 690px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-left: 130px;
    padding-left: 20px;
    margin-top: 13px;
    border: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

#menu {
    margin: right;
    grid-area: menu;
    justify-self: center;
    align-self: center;
    margin-right: 20px;
}

#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    background-color: #4683ea;
    height: 30px;
    width: 65px;
    line-height: 30px;
    text-align: centeR;
    color: white;
    font-weight: bold;
    border: 1px solid #4285f4;
    text-decoration: none;
}

#nav {
    outline: 0;
    font-family: arial,sans-serif;
    display: inline-block;
    padding: 14px 12px 12px 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
    grid-template-columns: 100px 100px 100px 100px 100px 400px 100px 100px;
    grid-template-areas: 
    "all images maps videos news more . settings tools";
    padding-left: 100px;
    height: 16px;
    line-height: 16px;
    left:0mm;
    right: 0mm;
    position: absolute;
    font-size: 14px;
}

#all {
    margin: middle;
    color: #5f6368;
    text-decoration: none;
    padding-right: 25px;
}

#images {
    color: #5f6368;
    text-decoration: none;
    padding-right: 27px;
}

#maps {
    color: #5f6368;
    text-decoration: none;
    padding-right: 28px;
}

#videos {
    color: #5f6368;
    text-decoration: none;
    padding-right: 27px;
}

#news {
    color: #5f6368;
    text-decoration: none;
    padding-right: 26px;
}

#more {
    color: #5f6368;
    text-decoration: none;
    padding-right: 80px;
}

#settings {
    color: #5f6368;
    text-decoration: none;
    padding-right: 30px;
}

#tools {
    color: #5f6368;
    text-decoration: none;
}

#main {
    margin: 70px;
    margin-left: 170px;
    display: block;
}

#results {
    font-size: 13px;
    color: #70757a;
    text-decoration: none;
}

#rvt1 {
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;
    color: black;
}

#rvt1-1 {
    font-family: arial sans-serif; 
    text-decoration: none; 
    font-size: 20px;
}

#rvt1-1-1 {
    max-width: 48em;
    color: #4d5156;
    line-height: 1.58;
    text-align: left;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 3px;
}

#rvt-twitter {
    font-size: 14px;
    line-height: 1.3;
    padding-top: 1px;
    font-style: normal;
    font-family: arial,sans-serif;
    text-decoration: none;
    color: black;
}

#rvt-twitter1 {
    font-family: arial sans-serif; 
    text-decoration: none; 
    font-size: 20px;
}

#rvt-twitter1-1 {
    max-width: 48em;
    color: #4d5156;
    line-height: 1.58;
    text-align: left;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 3px;
}

#rvt-wikipedia {
    font-size: 14px;
    line-height: 1.3;
    padding-top: 1px;
    font-style: normal;
    font-family: arial,sans-serif;
    text-decoration: none;
    color: black;
}

#rvt-wikipedia1 {
    font-family: arial sans-serif; 
    text-decoration: none; 
    font-size: 20px;
}

#rvt-wikipedia1-1 {
    max-width: 48em;
    color: #4d5156;
    line-height: 1.58;
    text-align: left;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 3px;
}

#rvt-facebook {
    font-size: 14px;
    line-height: 1.3;
    padding-top: 1px;
    font-style: normal;
    font-family: arial,sans-serif;
    text-decoration: none;
    color: black;
}

#rvt-facebook1 {
    font-family: arial sans-serif; 
    text-decoration: none; 
    font-size: 20px;
}

#rvt-facebook1-1 {
    max-width: 48em;
    color: #4d5156;
    line-height: 1.58;
    text-align: left;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 3px;
}

#rvt-prakse {
    font-size: 14px;
    line-height: 1.3;
    padding-top: 1px;
    font-style: normal;
    font-family: arial,sans-serif;
    text-decoration: none;
    color: black;
}

#rvt-prakse1 {
    font-family: arial sans-serif; 
    text-decoration: none; 
    font-size: 20px;
}

#rvt-prakse1-1 {
    max-width: 48em;
    color: #4d5156;
    line-height: 1.58;
    text-align: left;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    margin-top: 3px;
}

#footer1 {
    left: 0mm;
    right: 0mm;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px 30px;
    position: absolute;
    font-size: 15px;
    bottom: -33%;
    border-bottom: 1px solid rgb(197, 197, 197);
    grid-template-columns: 70px;
    grid-template-areas: "latvia am boypa upl lm";
    grid-template-rows: 50px;
    text-decoration: none;
    font-family: arial,sans-serif;
}

#latvia {
    margin-left: 10%;
    color: rgba(0,0,0,.54);
    grid-area: about;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

#am {
    color: #3c4043;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

#boypa {
    color: rgba(0,0,0,.54);
    grid-area: boypa;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

#upl {
    color: rgba(0,0,0,.54);
    grid-area: upl;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

#lm {
    color: rgba(0,0,0,.54);
    grid-area: lm;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

#footer2 {
    left: 0mm;
    right:0mm;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    display: grid;
    bottom: -40%;
    grid-template-columns: 80px 100px 80px 60px;
    grid-template-areas: "help sf privacy terms";
    grid-template-rows: 50px;
    font-size: 15px;
    font-family: arial,sans-serif;
    padding-left: 10%;
}

#help {
    grid-area: help;
    justify-self: center;
    align-self: center;
    font-size: 14px;
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

#sf {
    color: rgba(0,0,0,.54);
    grid-area: sf;
    justify-self: center;
    align-self: center;
    font-size: 14px;
    text-decoration: none;
}

#privacy {
    color: rgba(0,0,0,.54);
    grid-area: privacy;
    justify-self: center;
    align-self: center;
    font-size: 14px;
    text-decoration: none;
}

#terms {
    color: rgba(0,0,0,.54);
    grid-area: terms;
    justify-self: center;
    align-self: center;
    font-size: 14px;
    text-decoration: none;
}